footer .social-icon.insta-icon {
    background: linear-gradient(360deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  }
  .mobile-menu.dropdown{
    display: none;
  }
  footer .container{
    max-width: 2060px !important;
  }
  
  